@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
}
.button {
	@apply bg-white
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
  height: 200px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

